.aboutPage {
  background: #e1e1fd;
}

.developerImage {
  background-image: url("../staffImages/Developer.jpg");
  height: 38em;
  width: 39em;
}

.parrot{
  color: #31de79;
}



@media (max-width: 950px) {
  .aboutMe {
    display: flex;
    flex-direction: column;
  }
}