.aboutPage {
  background: #e1e1fd;
}

.developerImage {
  background-image: url("../staffImages/Developer.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 39em;
  height: 38em;
}

.parrot {
  color: #31de79;
}

.experience {
  max-width: 20em;
  margin-top: 20vh;
  font-family: "Courier New", Courier, monospace;
}

@media (max-width: 750px) {
 .aboutMe{
   flex-direction: column;
 }
}

@media (max-width: 400px) {
  .developerImage {
    height: 100vh;
    max-height: 20em;
    margin: 0 !important;
    width: 100vw !important;
  }
  .experience {
    width: 90vw;
    margin: 2em 5vw;
    font-size: 20px !important;
  }
}

