#contactSite {
  background: linear-gradient(135deg, #9ff669 0%, #31de79 100%);
  color: white;
  max-width: 18em;
  box-shadow: 2px 5px 10px 5px forestgreen;
  border-top: 3px solid darkgray;
  border-left: 3px solid darkgray;
}

#contactSite:hover {
  background: linear-gradient(135deg, #31de79 0%, #9ff669 100%);
  box-shadow: 4px 10px 20px 10px forestgreen;
}

.contactIcon {
  background-color: #68df6a;
  height: 100px;
  width: 100px;
  font-size: 30px;
  padding: 35px 0;
  margin: 1em;
}

#contactData {
  color: rgba(255, 255, 255, 0.8);
  width: 15em;
  font-size: 18px;
}

.contactSite {
  height: 2em;
  width: 2em;
}
