.rotateP{
    writing-mode: vertical-lr;
    -webkit-writing-mode : rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
#Home{
    height: 70vh;
    padding: 0;    
}
.welcome{
    padding: 1em 0  0 0;
}

