.navbar {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 9em;
  background-color: transparent;
}

.navbar-brand {
  color: #000;
  font-weight: 700;
  font-size: 20px;
}

.navbar-brand span {
  color: #31de79;
}

li {
  padding: 0.5em 3px;
  font-size: 15px;
  font-weight: 400;
  font-family: system-ui;
}

a {
  color: black !important;
}

a:hover + .lineNav {
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}
.link-visible {
  visibility: visible !important;
  transform: scaleX(1)!important;
  -webkit-transform: scaleX(1)!important;
}

.link-visible-a {
  color: #31de79 !important;
}

.lineNav {
  content: " ";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #31de79;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -webkit-transform: scaleX(0);
}

li{
  margin: 0 1rem;
}

.nav-link{
  padding: 0.5rem 0  0 0;
}