.navbar {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 1em;
}

.navbar.active {
  background-color: white;
}

.navbar-brand {
  color: #000;
  font-weight: 700;
  font-size: 24px;
}

.navbar-brand span {
  color: #31de79;
}

li {
  padding: 0.5em 3px;
  font-size: 16px;
  font-weight: 400;
  font-family: system-ui;
}

a {
  color: black;
}
a:hover {
  color: #31de79;
}
a:hover .lineNav {
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

.lineNav{
  content: " ";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #31de79;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -webkit-transform: scaleX(0);
}