.navbar {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 0 9em;
}

.navbar-brand {
  color: #000;
  font-weight: 700;
  font-size: 25px;
}

.navbar-collapse {
  display: flex;
  flex-direction: row !important;
}

.navbar-brand span {
  color: #31de79;
}

a:hover + .lineNav {
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}
.link-visible {
  visibility: visible !important;
  transform: scaleX(1) !important;
  -webkit-transform: scaleX(1) !important;
}

.lineNav {
  content: " ";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #31de79;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -webkit-transform: scaleX(0);
}

.nav-item {
  margin: 0 1rem;
  padding: 0.5em 3px;
  font-weight: 100;
}

.nav-link {
  padding: 0.5rem 0 0 0;
  color: rgb(32, 32, 32) !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 450;
  opacity: 1;
}

.nav-link:hover {
  text-decoration: none;
}

.link-visible-a {
  color: #31de79 !important;
}

.fa-snowflake {
  transition: all linear;
  animation: rot 2s linear infinite;
  color: #31de79;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
    color: #31de79;
  }
  50% {
    color: #9ff669;
  }
  100% {
    transform: rotate(360deg);
    color: white;
  }
}

@media (max-width: 1000px) {
  .navbar {
    padding: 0;
    background-color: black !important;
    position: absolute;
  }
  .navbar-toggler{
    background-color: white;
    border-color: #31de79;
  }
  .navbar-brand {
    color: white !important;
  }
  .collapse.navbar-collapse {
    display: none !important;
  }
  .navbar-collapse{
    margin: 0 !important;
  }
  .navbar-link {
    background-color: black;
  }
  .nav-link {
    text-align: left;
    width: 3em;
    color: white !important;
  }
  .lineNav {
    width: 5em;
  }
}
