.dots button {
  height: 10px;
  width: 10px;
  background-color: #e0dede;
  border-radius: 50%;
  cursor: pointer;
  padding: 0 !important;
  transition: all 0.3s ease;
}

.dots button.active {
  background-color: #31de73;
}
.dots button:hover {
  background-color: #6ff5a7;
}

.projectImages div {
  background-color: #e5e4e1;
}

.projectImages div h1 {
  visibility: hidden;
}

.projectBackgroundImageActive {
  height: 33rem;
  width: 26rem;
  background-repeat: no-repeat;
  margin: 0.5em 2em;
  background-size: contain;
  box-shadow: 0 0.2rem 3rem rgb(0 0 0 / 20%);
  transition: all 1s ease;
  transform: scale(1);
  z-index: -1;
}

.projectBackgroundImageActive:hover {
  cursor: pointer;
  transition: all 3s ease;
  transform: scale(1.1) !important;
  z-index: 1;
}

.projectBackgroundImageActive:hover h1 {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  visibility: visible;
  color: #31de79;
}
.projectBackgroundImage {
  height: 0;
  width: 0;
}

.projectBackgroundImageActive.chat-app {
  background-image: url(../projectsImages/Chat-App.png);
}

.projectBackgroundImageActive.todo-app {
  background-image: url(../projectsImages/Todo-App.png);
}

.projectBackgroundImageActive.weather-app {
  background-image: url(../projectsImages/Weather-App.png);
}
.projectBackgroundImageActive.weather-app-2 {
  background-image: url(../projectsImages/Weather-App-2.png);
}

@media (max-width: 900px) {
  .projectImages {
    flex-wrap: wrap;
  }
  .projectBackgroundImageActive {
    margin: 1.5em ;
  }
}
@media (max-width: 400px) {
  .projectBackgroundImageActive {
    margin: 0.5em 10vw 1em 10vw;
    width: 80vw;
    height: 40rem;
  }
}
@media (max-width: 340px) {
  .projectBackgroundImageActive {
    margin: 0.5em 10vw 1em 10vw;
    width: 80vw;
    height: 34rem;
  }
}
