.services {
  display: flex;
  flex-direction: row;
  padding: 0 8rem 0 6rem;
  background-color: #f8f9fa;
}

.titles {
  background-color: #31de79;
  padding-top: 3rem;
  padding-bottom: 16em;
  width: 55rem;
  margin-bottom: 0;
}

.titles li {
  list-style-type: none;
  color: #ffffffcc;
}

.title {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 1.5em;
  cursor: pointer;
}

.title:hover {
  position: relative;
}

.visible-after {
  position: relative;
}
.visible-after p {
  font-weight: 600 !important;
  color: white !important;
}

.title:hover p {
  padding-left: 10px;
  font-weight: 600;
  color: white;
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fafafa transparent transparent;
}

.title span {
  font-size: 30px;
  padding-left: 10px;
}

.title p {
  font-size: 20px;
  padding-left: 10px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
}

.serviceDetail {
  text-align: left;
  padding: 5em 5em 0 7em;
}

.detailTitle {
  font-size: 100px;
  color: #9ff669;
  padding-left: 2rem;
}

.detailHeading {
  padding: 0.7em 0 1em 0;
  text-transform: uppercase;
  font-stretch: semi-expanded;
  font: status-bar;
  font-size: 30px;
}

.detailIcon {
  font-size: 4em;
  color: #9ff669;
}

.detailp {
  color: #999;
  font-size: 15px;
  line-height: 1.8;
  font-family: monospace;
}

.learnMore {
  border: 1px solid #31de79 !important;
  background: linear-gradient(135deg, #9ff669 0%, #31de79 100%);
  color: white;
  padding: 15px 20px;
}

.learnMore:hover {
  background: white !important;
  color: #31de79;
}

@media (max-width: 1050px) {
  .services {
    padding: 0 3rem;
  }
  .serviceDetail {
    padding-right: 1rem;
  }
}

@media (max-width: 950px) {
  .services {
    display: flex;
    flex-direction: column;
  }

  .titles {
    width: 20rem;
  }
}