.services {
  display: flex;
  flex-direction: row;
  padding: 0 8rem 0 6rem;
  background-color: #f8f9fa;
}

.titles {
  background-color: #31de79;
  padding-top: 3rem;
  width: 55rem;
}

.titles li {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.8);
}

.title {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.title:after {
  /* position: absolute; */
  top: 20px;
  bottom: 10px;
  right: 0;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fafafa transparent transparent;
}

.titleIcon {
  font-size: 25px;
  padding-right: 10px;
}

.title p {
  font-size: 20px;
  padding-left: 10px;
  font-weight: 400;
}

.serviceDetail {
  text-align: left;
  padding: 5em 5em 0 7em;
}

.detailTitle {
  font-size: 100px;
  color: #9ff669;
  padding-left: 2rem;
}

.detailHeading {
  padding: 0.7em 0 1em 0;
  text-transform: uppercase;
  font-stretch: semi-expanded;
  font: status-bar;
  font-size: 30px;
}

.detailp {
  color: #999999;
  font-size: 15px;
  line-height: 1.8;
  font-family: sans-serif;
}

@media (max-width: 1050px) {
  .services {
    padding: 0 3rem;
  }
  .serviceDetail {
    padding-right: 1rem;
  }
}

@media (max-width: 950px) {
  .services {
    display: flex;
    flex-direction: column;
  }

  .titles {
    width: 20rem;
  }
}
