.navbar {
  background: transparent !important;
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */
  z-index: 3;
  padding: 0.7rem 9rem;
}

.navbar-brand {
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  font-size: 24px;
}

.navbar-brand span {
  color: #31de79;
}

.navbar-links {
  display: flex;
  flex-direction: row;
}

.navbar-links li {
  list-style-type: none;
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 400;
}
